@mixin input-style {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 25px;
    width: 80%;
    background-color: #9e9885;
    color: $light;
    border: none;
    outline: none;

    &[disabled]{
        background-color: #d3d3d3;
        opacity: 0.5;
    }
}

form {
    &#order-form {
        // <form method="post" action="/api/set_order" id="order-form" class="text-center text-primary">
        //     <h4>Order</h4>
        //     <p>For postal shipments the maximum order value is €75 (10g)</p>                               
        //     <input type="number" name="amount" class="text-center" placeholder="Money you spend" required/>
        //     <input type="text" name="coupon" class="text-center" placeholder="Coupon (WIP)" disabled/>
        //     <button class="btn-primary text-center" type="submit">Order</button>
        // </form>

        h4 {
            font-weight: bold;
        }

        p {
            font-size: 0.8rem;
        }

        input {
            @include input-style;
        }


        button[type="submit"] {
            margin: 0.5rem;
            padding: 0.5rem;
            border-radius: 25px;
            width: 80%;
            background-color: $primary;
            color: $light;
            border: none;
            outline: none;
            font-weight: bold;
        }
    }
}

.cinput-style {
    @include input-style;
}