$accent-color: #37342c; // used for buttons
$muted-color: #4B6BFF; // secondary accent color
$light-color: #0e043a; // used for borders
$primary-background: #181e2c;
$primary-text: #E8E8E8;

$primary: $accent-color; // Bootstrap primary color
$secondary: $muted-color; // Bootstrap secondary color
$light: $light-color; // Bootstrap light color
$dark: $primary-background; // Bootstrap dark color
$body-bg: $primary-background; // Setting the body background to primary background
$body-color: $primary-text; // Setting the default text color
$text-muted: $muted-color; // Muted text color